/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

input[type="number"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to right, #2575fc, #6a11cb);
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #888;
    height: 24px;
}
